/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
    }

/*tipografia*/ 
*  {
    font-family: 'Roboto', sans-serif;
}

form {
text-transform: capitalize;
}

h1, h2, h3 {
    text-transform: capitalize;
}

p {
    line-height: 1.5;
}


/*----------------colores-------------*/

$gradien-bg-header1: #455154 ;
$gradien-bg-header2: #0c0c0c;
$gradien-bg-footer1: #4d5659;
$gradien-bg-footer2: #0c0c0c;
$clr-titulos: #000;
$clr-subtitulos:#053742;
$clr-subtitulos-bg-oscuro: #fff;
$clr-texto-bg-oscuro: #fff;

/*hover botones*/
$clr-btn-fondo-fuerte: #F91C1C;
$clr-btn-fondo-suave:#F06363;
$clr-btn-contenido-claro:#fff;
$clr-btn-contenido-oscuro:#000;

/*hover links*/ 
$clr-links: #fff;
$clr-links-oscuro: #F91C1C;


/*botones*/
.btn-pagina {
    a {
    padding: .6em;
    color: $clr-btn-contenido-claro; 
    background-color: $clr-btn-fondo-fuerte;
    text-decoration: none;
    text-align: center; 
    transition: all 0.5s ease;
    text-transform: uppercase;
    border-radius: 1em;
    
}
:hover{
    background-color: $clr-btn-fondo-suave;
    border-radius: 1em;
    }
}


.btn-iconos {
    display: flex;
    gap: 2em;
    margin-left: 1.5em;
    a{
        color: $clr-btn-contenido-claro; 
        background-color: $clr-btn-fondo-fuerte;  
        height: 40px;
        width: 40px;
        text-align: center; 
        line-height: 40px;  
        border-radius: 50%;
        transition: all 0.5s ease;
    }
    :hover{
        background-color: $clr-btn-fondo-suave;
    }
}

.btn-forms {
        color: $clr-btn-contenido-claro; 
        background-color: $clr-btn-fondo-fuerte;  
        text-align: center;  
        border-radius: 10px;
        padding: .2em;
        border: none;
        box-shadow: none;
    }


.btn-main {
@extend .btn-pagina;  
font-size: 1em;
font-weight: 1em;

}

/*layout*/
/*header*/

.header {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    padding: 2em;
    background-image: linear-gradient($gradien-bg-header1, $gradien-bg-header2);
    align-items: baseline;
    color: $clr-links;
    box-shadow: 0.2em 0.2em 0.2em 0.2em $gradien-bg-header1;
    .header__logo {
        color: #fff;
        font-family: 'Monoton', cursive;
        text-decoration: none;
        font-size: 3em;
    }
    .header__menu-sm {
        color: #fff;
    }
    .header__menu-md {
        display: none;
    }
    @media only screen and (min-width: 1050px) {
        .header__menu-sm {
            display: none;
        }
        
        .header__menu-md {
            display: flex;
            gap: 1em;
            font-size: 1.3em;
            a{
                text-decoration: none;
                color: $clr-links;
            }
            :hover {
            transition: all .5s ease;
            color: $clr-btn-fondo-suave;
            }
                
            .header__menu-link--active { 
            color: $clr-btn-fondo-suave;
            }
        }       
    }
}   


/*footer*/

.footer {
    background-image:linear-gradient($gradien-bg-footer1,$gradien-bg-footer2);
    padding: 1em 0;
    box-shadow: 0.2em 0.2em 0.2em 1em $gradien-bg-header1;
    display: flex;
    flex-direction: column;
    
    .footer__end {
        text-align: center;
        margin-top: 2em;
        color: $clr-subtitulos-bg-oscuro;
    }
        .footer__row {
        display: flex;
        
            .footer__colum {
            width: 100%;
            
            h3{
                color: $clr-btn-contenido-claro;
                margin-left: 1em;
            }
                ul li {
                    font-size: 1em;
                    text-transform: capitalize;
                    color: $clr-btn-contenido-claro;
                    font-weight: 300;
                    margin-top: .5em;
                    color: #bbb;
                    a{
                    text-decoration: none;
                    text-transform: capitalize;
                    color:#bbb ;
                    align-items: baseline;
                    }
                    a:hover{
                        color: $clr-subtitulos-bg-oscuro;
                        padding-left: 0.5em;
                        transition: all 0.3s ease;
                    }
                }
            }
    }
    @media only screen and (max-width: 800px) {
    .footer__row{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 50% 50%;
    
    }
    }
    @media only screen and (max-width: 500px) {
        .footer__row{
            display: flex;
            flex-direction: column;
            }
        }
    }

/*inicio*/

.carousel {
    padding-top: 1.5em;
    .d-block {
        max-height: 160px;
        object-fit: cover;
    }
}

.titulo-i {
    padding: 2em;
    margin-top: 1em;
    h2 {
        text-align: center;
        text-decoration: underline;
    }
}

.galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2em;
    gap: 1em;
        .galery__items {
            max-width: 150px;
            max-height: 150px;
            margin-left: auto;
            margin-right: auto;
        }        
        .galery__img {
            width: 150px ;
            height: 150px;
            object-fit: cover;
            border-radius: 1em;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            }    
}

.contenedor-i-dos {
    display: flex;
    flex-direction: column;
    margin-top: 9em;
    width: 100%;
    height: 670px;
    background-image: linear-gradient($gradien-bg-header1, $gradien-bg-header2);
    border-radius: 5px;
    .contenedor-i-dos__img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 5px;
    }
    .contenedor-i-dos__txt {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        color: $clr-subtitulos-bg-oscuro;
        padding: 2em;
        font-size: 1.1em;
    }
}

.contenedor-i {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2em;
    margin-bottom: 2em;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    .card-contenido {
        background-image: linear-gradient($gradien-bg-header1, $gradien-bg-header2);
        color: $clr-texto-bg-oscuro;
        border: none;
    }
    }

@media all and (min-width: 475px) {
.carousel {
    padding-top: 1.5em;
    .d-block {
        max-height: 250px;
        object-fit: cover;
        }
    }            
        .galery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 3em;
            margin-left: auto;
            margin-right: auto;
            .galery__items {
                max-width: 500px;
                max-height: 600px;
            margin-left: auto;

            }        
            .galery__img {
                width: 100% ;
                height: 100%;
                object-fit: cover;
                border-radius: 1em;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                }    
    }            
    .contenedor-i {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        padding: 2em;
        margin-bottom: 2em;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        .card-contenido {
            background-image: linear-gradient($gradien-bg-header1, $gradien-bg-header2);
            color: #fff;
        }
        .img-fluid {
            object-fit: cover;
            min-height: 250px;
        }
    }
}



@media all and (min-width: 700px){
    .carousel {
        padding-top: 1.5em;
        .d-block {
            max-height: 450px;
            object-fit: cover;
        }
        .carousel__logo {
            font-family: 'Monoton', cursive;
            font-size: 6em;
            color: rgba(255, 255, 255, 0.522);
        }
        .display-3 {
            color: rgba(255, 255, 255, 0.898);
            font-family: 'Poppins', sans-serif;
        }
    }
    
    .titulo-i {
        padding: 2em;
        margin-top: 8em;
        h2 {
            text-align: center;
            text-decoration: underline;
        }
    }
    .galery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:"g1 g2 g3 g4"
        "g5 g6 g7 g8";
        gap: 3em;
        margin-left: auto;
        margin-right: auto;
        
        .galery__items {
            max-width: 800px;
            max-height: 900px;
        }
        .galery__img {
        object-fit: cover;
        max-width: 800px;
        max-height: 900px;
        }
    .galery__img:hover {
        transition: all .5s ease;
        transform: translateY(-3%);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        }
    }

    .contenedor-i-dos {
        display: flex;
        flex-direction: row;
        margin-top: 9em;
        max-height: 400px;
        background-image: linear-gradient($gradien-bg-header1, $gradien-bg-header2);
        border-radius: 5px;
    }

}


.carousel-item {
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

/*quienes somos*/

.titulo-h1 {
    padding: 2em;
    color: $clr-titulos;
    }

.contenedor-quienes {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
    

    .contenedor-quienes__items {    
        width: 100%;
        padding-top: 1em;
        .contenedor-quienes__img {
            object-fit: cover;
            width: 100%;
            max-height: 300px;
        }
        .contenedor-quienes__btn {
        display: flex;
        flex-direction: column;
        text-align: center;
        
            .btn-main {
            padding: .6em;
            }
        }
    }
}

@media all and (min-width: 979px) {
    .contenedor-quienes {
        max-width: 1000px;
        
        .contenedor-quienes__items {
            display: flex;
            flex-direction: row;
            gap: 3em;
            .contenedor-quienes__element {
                min-width: 500px;
                max-height: 240px;
                
                .contenedor-quienes__img {
                    width: 100%;
                    height: 100%;
                }
            }
            .contenedor-quienes__btn{
                display: flex;
                flex-direction: row;
                padding-left: 2.2em;

                
            }
        }
    }
}
    
    


/*academia*/

.container {
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card {
    max-width: 400px;
    max-height: 700px;
    margin: 1.3em;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .5s ease;
    .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
    .card img {
        width: 100%;
        max-height: 700px;
        object-fit: cover       ;
    }
    .card__contenido {
        padding: 2em;
        gap: 1em;
        text-align: center;
        p {
        line-height: 2;
        }
    }
}



@media all and (min-width: 560px) {
    .container {
        justify-content: center;
    }

}

@media all and (min-width: 800px) {
    .grid-a {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        max-width: 1400px;
    }
    .card:hover {
        transition: all .5s ease;
        transform: translateY(-3%);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        }
}

/*pre-inscripcion*/
.contenedor-p {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    gap: 1em;
    
        &__hijo {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        max-width: 470px;
        line-height: 1.8;
        .contenedor-p__forms-div {
            display: flex;
            flex-direction: column;
        }
        .contenedor-p__btn {
            padding-top: .7em;
        }
        .contenedor-p__linea {
            background: $gradien-bg-footer1;
            height: 5px;
        }
    }
    .contenedor-p__hijo-dos {
        margin-left: auto;
        margin-right: auto;
            display: flex;
            flex-direction: column-reverse;
            gap: 1em;
            max-width: 470px;            
            
            .contenedor-p__img {
                object-fit: cover;
                max-height: 800px;
                min-height: 700px;
                width: 100%;
            }
        }
    }
    
    @media all and (min-width: 800px) {
        .contenedor-p {
            display: grid;
            grid-template-columns: 50% 50%;
            margin-left: auto;
            margin-right: auto;
        }
        .contenedor-p__hijo-dos {
            padding-right: 1em;
        }
    }
    
    
    /*contacto*/
    
    .contenedor-c__hijo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
        & .contenedor-c__items {
        display: flex;
        flex-direction: column-reverse;
        gap: 1em;
        width: 100%;
                iframe {
                max-width: 100%;
                max-height: 300px;
                        
                }
                        & .contenedor-c__forms-div {
                        display: flex;
                        flex-direction: column;
                        
                            .contenedor-c__forms-input {
                                max-width: 810px;
                            }
                        }
        } 
        .contenedor-c__btn {
            padding-top: .7em;
        }          
    }

    @media all and (min-width: 500px) { 
        .contenedor-c {
            display: flex;
            justify-content: center;
            .contenedor-c__items {
                display: flex;
                flex-direction: column-reverse;
                gap: 1em;
                width: 100%;
                iframe {
                    max-width: 100%;
                    max-height: 500px;
                    
                }
            }
        }
    }

/*error*/
.body-error{
    background-image: linear-gradient($gradien-bg-header1, $gradien-bg-header2);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.contenedor-error {
    background-color: #fff;
    text-align: center;
    width: 100%;
    max-width: 450px;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    padding: 1em;
}
